a{background:transparent;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
img{border:0;}
@media print{
*{color:#000!important;background:transparent!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;}
a[href]:after{content:" (" attr(href) ")";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
h2{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
a:focus{outline:thin dotted #333333;outline:5px auto -webkit-focus-ring-color;}
a{color:#008489;text-decoration:none;}
a:hover,a:focus{color:#008489;}
img{vertical-align:middle;}
.text-center{text-align:center;}
.text-jumbo{font-size:60px;font-weight:700;}
h1,h2,h6{line-height:1.1;text-rendering:optimizelegibility;}
h1,h2,h6{margin-top:25px;margin-bottom:15px;}
h1:first-child{margin-top:0;}
h1{font-size:44px;font-weight:normal;}
h2{font-size:32px;font-weight:normal;}
h6{font-size:14px;font-weight:bold;color:#767676;}
ul{margin-top:0;margin-bottom:15px;padding-left:25px;}
.list-unstyled{padding-left:0;list-style:none;}
@media (max-width: 743px){
.text-jumbo{font-size:31px;}
h1{font-size:41px;}
h2{font-size:30px;}
h6{font-size:13px;}
}
.page-container-responsive{margin-left:auto;margin-right:auto;padding-left:12px;padding-right:12px;}
.page-container-responsive:before,.page-container-responsive:after{content:" ";display:table;}
.page-container-responsive:after{clear:both;}
@media (min-width: 744px){
.page-container-responsive{padding:24px;}
}
.page-container-responsive{width:auto;}
@media (min-width: 744px){
.page-container-responsive{width:696px;}
}
@media (min-width: 1128px){
.page-container-responsive{width:1080px;}
}
.row{margin-left:-12px;margin-right:-12px;}
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.col-md-5{position:relative;min-height:1px;padding-left:12px;padding-right:12px;}
@media (min-width: 744px){
.col-md-5{width:41.66667%;float:left;}
}
.col-middle{float:none;display:table-cell;}
.col-middle{vertical-align:middle;}
@media (max-width: 743px){
.page-container-responsive .col-middle{display:block;}
}
.space-8{margin-bottom:48px;}
.space-top-8{margin-top:48px;}
@media (max-width: 743px){
.hide-sm{display:none!important;}
}
.text-ginormous{font-size:145px;}
.page-container-responsive {
	color: rgb(72, 72, 72);
	font-family: "Segoe UI", Tahoma, sans-serif;
}